/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Mar 7, 2022, 10:51:35 PM
    Author     : csgn
*/


.icon-button {
  --button-size: calc(5rem * 0.5);
  width: var(--button-size);
  height: var(--button-size);
  background-color: var(--bg-secondary);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.5s;
  border: 0.5px #ddd solid;
}

.icon-button ion-icon {
  color: var(--text-secondary);
}

.icon-button:hover {
  opacity: 0.6;
	cursor: pointer;
}