/* 
    Created on : Mar 7, 2022, 7:46:45 PM
    Author     : csgn
*/


.fm-error {
  display: none;
  font-size: 13px;
  color: rgba(230, 59, 59, 0.76);
  font-weight: bold;
  user-select: none;
}

.fm-error.active {
  display: block;
}
