/* 
    Created on : Mar 12, 2022, 5:22:44 PM
    Author     : csgn
*/


.button {
  padding: 0.8rem 1rem;
  background: var(--text-primary);
  border: none;
  border-radius: 5px;
  color: #fff;
  box-shadow: 0 0 0.5px 0.5px #333;
  cursor: pointer;
  transition: opacity 300ms;
  user-select: none;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1ch;
	text-decoration: none;
	background-position: center;
	transition: background var(--transition-time);
}

.button:hover {
	background: #666 radial-gradient(circle, transparent 1%, #666 1%) center/15000%;
}

.button:active {
	background-color: #333;
  background-size: 100%;
  transition: background 0s;
}

.outline {
	transition: background var(--transition-time);
  background: var(--bg-primary);
  color: var(--text-primary);
}

.outline:hover {
	color: #fff;
}

.outline:active {

}
