/*
 @author csgn
*/

.container {
  position: fixed;
  margin-left: 4rem;
	padding: 2rem 2rem;
  width: 96%;
  height: 95.5%;
  background: var(--bg-primary);
  transition: var(--transition-time);
  border-left: 0.5px #eee solid;
  border-top: 0.5px #eee solid;
}

.wrapper.active .container {
  margin-left: 16rem;
}

.wrapper.active .container-header {
	margin-right: 12rem;
}

.wrapper.active .container-content {
	margin-right: 12rem;
}


.container-content {
	height: 90%;
	padding: 1rem 1rem;
  transition: var(--transition-time);
	border-top: 1px #ddd solid;
	overflow: scroll;
}

.container-content::-webkit-scrollbar {
	width: 0;
	background: #eee;
}

.container-header {
	display: flex;
  transition: var(--transition-time);
	flex-direction: row;
}

.container-title {
	display: flex;
	letter-spacing: 0.1ch;
	color: var(--text-primary);
	pointer-events: none;
	user-select: none;
}

.container-button {
	display: flex;
	margin-left: auto;
}


.container-row {
	width: 100%;
	height: 64px;
	border-bottom: 1px solid var(--border-primary);
	display: flex;
	justify-content: space-between;
	align-items: center;
  transition: var(--transition-time);
	user-select: none;
	border-radius: 5px;
}

.container-row:hover {
	background: var(--bg-secondary);
}

.container-column {
	font-size: 20px;
	color: var(--text-primary);
	width: 150px;
	padding: 0.5rem 0.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container-column:last-child {
	margin-left: auto;
}

.color-badge {
	width: 22px;
	height: 22px;
	border-radius: 5px;
	box-shadow: 0 0 1px 0.5px #888;
}

.disable, .disable:hover {
	height: 40px;
	background: var(--bg-secondary);
	border-bottom: none;
	letter-spacing: 0.2ch;
	font-weight: bold;
	border-radius: 0px;
}

.checkbox {
	width: 16px;
	height: 16px;
	border: 1px solid #ddd;
  transition: var(--transition-time);
	border-radius: 5px;
	box-shadow: 0 0 0.5px 0.5px #ddd;
}

.checkbox:hover {
	box-shadow: 0 0 1px 2px #ddd;
	cursor: pointer;
}