/*
 @author csgn
*/
.navbar {
  width: 4rem;
  height: 100vh;
  position: fixed;
  background-color: var(--bg-primary);
  transition: width var(--transition-time) ease;
  text-transform: uppercase;
  overflow: hidden;
  user-select: none;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 4rem;
  color: var(--text-secondary);
  text-decoration: none;
  transition: var(--transition-time);
}

.nav-link:hover {
  background: var(--bg-secondary);
}

.link-text {
  display: none;
}

.nav-link ion-icon {
  min-width: 4rem;
  margin-top: 0 1.5rem;
  transition: var(--transition-time);
}

.navbar:hover {
  width: 16rem;
}

.navbar .nav-item:last-child ion-icon {
  transform: rotate(0deg);
  transition: transform var(--transition-time);
}

.navbar:hover .nav-item:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar:hover .nav-item:last-child ion-icon {
  transform: rotate(180deg);
  cursor: default;
}

.navbar:hover .nav-item:last-child .nav-link:hover {
  background: none;
}

.navbar:hover .link-text {
  display: block;
}

.wrapper.active .nav-item:first-child {
  background-color: var(--bg-primary);
  border-bottom: 0.5px #eee solid;
}

.wrapper.active .nav-item:first-child .nav-link {
  background: var(--bg-secondary);
}

.nav-link.active {
	background: var(--bg-secondary);
	font-weight: bold;
}

.nav-link.active ion-icon{
	transform: scale(1.3);
}
