/*
 @author csgn
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  font-family: Poppins, sans-serif;
  --text-primary: #575757;
  --text-secondary: #444;
  --bg-primary: #fff;
  --bg-secondary: linear-gradient(90deg, #ffff, #f4f4f4);
	--bg-secondary-rev: linear-gradient(90deg, #f4f4f4, #fff);
	--transition-time: 300ms;
  /*--bg-secondary2: linear-gradient(90deg, #ffe4e0, #fff0d4);*/
}

h1 {
	color: var(--text-primary);
}