/*
 @author csgn
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
  font-family: Poppins, sans-serif;
  --text-primary: #1f1c2e;
  --text-secondary: #292929;
  --bg-primary: #fff;
  --bg-secondary: linear-gradient(90deg, #ffff, #f3f6fd);
	--bg-secondary-rev: linear-gradient(90deg, #f3f6fd, #fff);
	--transition-time: 300ms;
	--border-primary: #ddd;
	--border-secondary: #eee;
	--bg-colorful-90: linear-gradient(90deg, rgba(247,200,221,0.9285304037372718) 0%, rgba(252,243,198,0.9144854599170471) 60%);
	--bg-colorful-180: linear-gradient(180deg, rgba(247,200,221,0.9285304037372718) 0%, rgba(252,243,198,0.9144854599170471) 60%);
}
