/*
 @author csgn
*/
.topbar {
  height: 4rem;
  margin-left: 4rem;
  transition: var(--transition-time);
  background: var(--bg-primary);
}

.topbar-top {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  padding-left: 0.5rem;
  transition: margin-left var(--transition-time);
}

.top-item {
  width: calc(5rem * 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-item:first-child {
	pointer-events: none;
	user-select: none;
  margin-right: auto;
  z-index: 1000;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.3ch;
  padding-left: 2rem;
  text-transform: uppercase;
  color: var(--text-primary);
}

.wrapper.active .topbar {
  background: var(--bg-secondary-rev);
}
